html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: normal;
}
header {
    width: 100%;
    height: 100vh;
    background: url(/Banner-compressor.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.home{
    width: 100px;
    height: 60px;
    text-align: center;
}
.home a{
    width: 100%;
    height: 100%;
}
.titles{
    display:flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 0;
}
.title{
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 4em;
    letter-spacing: .2em;
}
.subtitle{
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 1.25em;
    letter-spacing: .1em;
}
.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
.home {
    line-height: 60px;
    position: fixed;
    float: left;
    padding: 16px 46px;
    margin:0;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}
.highlight{
    background-color: #373737;
}
nav {
    position: fixed;
    width: 100vw;
    line-height: 60px;
    z-index: 1;
}
nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    /* padding-right: 40px; */
    transition: 1s;
}
nav.black ul {
    background: #000;
}
nav ul li {
    display: inline-block;
    padding: 16px 40px;
    width: 10%;
    text-align: center;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}
.menu-icon i{
    padding-right: 5vw;
}
.about{
    display:flex;
    flex-direction: row;
    width: 70%;
    height: 100%;
    margin:auto;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}
.aboutpic{
    display:flex;
    width: 50%;
    background: url(/Banner-compressor.jpg) no-repeat 50% 50%;
}
#aboutpic{
    width: 100%;
    height: auto;
}
.abouttext{
    display:flex;
    flex-direction: column;
    width: 50%;
}
#abouttitle{
    width: 95%;
    height: 60px;
    margin-left: 5%; 
    font-size: xx-large;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    border-bottom: 3px solid black;
}
#aboutcontent{
    padding-left: 5%;
    width: 95%;
    height: 90%;
    word-wrap: break-word;
    line-height: 2em;
    font-size: 1.25em;
}
.projects{
    display:flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin:auto;
    padding: 5%;
}
.projectsTitle{
    width: 100%;
    height: 60px;
    margin: 0;
    font-size: xx-large;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    border-bottom: 3px solid black;
}
.project{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin:0;
    padding-top: 50px;
}
#project1{
    display: flex; 
    flex-direction: row-reverse;
}
#projecttext1{
    padding-right: 5%;
    padding-left: 0;
}
#project2{
    display: flex; 
    flex-direction: row;
}
#projecttext2{
    padding-right: 0;
    padding-left: 5%;
}
#project3{
    display: flex; 
    flex-direction: row-reverse;
}
#projecttext3{
    padding-right: 5%;
    padding-left: 0;
}
.projectpic{
    display:flex;
    width: 50%;
    height: auto;
    margin:0;
    padding: 0;
    background: url(/Banner-compressor.jpg) no-repeat 50% 50%;
}
.projecttext{
    width: 50%;
    height: 100%;
    line-height: 2em;
    font-size: 1.25em;
}
.projecttitle{
    width: 100%;
    height: 40px;
    font-size: x-large;
    text-align: left;
    vertical-align: middle;
    line-height: 40px;
}
@media(max-width: 1500px){
    header {
        background: url(/Bannermedium-compressor.jpg) no-repeat 50% 50%;
        background-size: cover;
    }
}
@media(max-width: 600px){
    .title{
        padding-bottom: .1em;
        font-size: 2.5em;
        letter-spacing: 7.5px;
    }
    .subtitle{
        padding-bottom: .1em;
        font-size: .75em;
        letter-spacing: .75px;
    }
}
@media(max-width: 786px) {
    .home {
          position: fixed;
          top: 0;
          margin:0;
    }
    nav ul {
        padding-right: 0;
          max-height: 0px;
          background: #000;
    }
    nav.black ul {
          background: #000;
    }
    .showing {
          max-height: 34em;
    }
    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
          align-self: center;
    }
    .menu-icon {
          display: block;
    }
    header {
        background: url(/Bannersmall-compressor.jpg) no-repeat 50% 50%;
        background-size: cover;
    }
    .about{
        width: 90%;
        padding: 5%;
        height: 100%;
    }
    .aboutpic{
        width: 0%;
        height: auto;
    }
    #aboutpic{
        width: 0%;
        height: auto;
    }
    #abouttitle{
        
        width: 100%;
        height: 60px; 
        margin-left: 0;
        font-size: xx-large;
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
        border-bottom: 3px solid black;
        font-size: 2em;
    }
    #aboutcontent{
        padding:0;
        width: 100%;
        height: 100%;
        word-wrap: break-word;
        line-height: 2em;
    }
    .abouttext{
        display:flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .projects{
        display:flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
        padding: 5%;
    }
    .projectsTitle{
        width: 100%;
        height: 60px;
        margin: 0;
        font-size: xx-large;
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
        border-bottom: 3px solid black;
    }
    .projectpic{
        width: 0;
    }
    .projecttext{
        width: 100%;
        height: 100%;
        line-height: 2em;
        font-size: 1.25em;
    }
    .projecttitle{
        width: 100%;
        height: 40px;
        font-size: x-large;
        text-align: left;
        vertical-align: middle;
        line-height: 40px;
    }
    #projecttext2{
        padding-left: 0%;
    }
}

